.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }

.login-container {
    margin: 0 auto;
    padding: 70px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 600px;
    width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    background-color: #6187d3;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    height: 50px;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .error-p {
    color: red;
    margin-top: 10px;
  }
  
.link {
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
  }
  
.link:hover {
    text-decoration: underline;
  }


  